*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(
        #e92e3d,
        #ff6e6a
    )0 100% no-repeat;
    background-size: 100% 50%;
}


/* here in this container the all things came the image , score and the button*/
.container{
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    background: #ffffff;
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Container end's here*/

/*the imgae start's here*/
.dice-wrapper{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
/*the imgae end's here*/


/*Score display start's here*/
.para p{
    display: inline-block;
}

.p-1{
    margin-top: 15px;
    margin-right: 60px;
}

p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;

}
/*Score display end's here*/

/*Roll button css file start's here*/
button{
    background-color: #e92e3d;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    width: 150px;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-top: 15px;
}
/*Roll button css file end's here*/

/*Dice shake csss file start's here*/
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}
/*Dice shake csss file end's here*/